<section class="register">
    <ng-container *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </ng-container>
    <ng-container *ngIf="!isLoading">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="form" (keyup.enter)="onSubmit()">
                    <mat-form-field>
                        <input type="email" matInput placeholder="Email" formControlName="email">
                        <mat-icon matSuffix *ngIf="showErrorIcon('email', email)" color="warn"
                            [matTooltip]="displayErrors('email', email)">error</mat-icon>
                    </mat-form-field>
                    <mat-form-field>
                        <input type="password" matInput placeholder="Password" formControlName="password">
                        <mat-icon matSuffix *ngIf="showErrorIcon('password', password)" color="warn"
                            [matTooltip]="displayErrors('password', password)" matTooltipClass="tooltip">error
                        </mat-icon>
                    </mat-form-field>
                    <mat-form-field>
                        <input type="password" matInput placeholder="Confirm Password"
                            formControlName="passwordConfirmation">
                        <mat-icon matSuffix *ngIf="showErrorIcon('passwordConfirmation', passwordConfirmation)"
                            color="warn" [matTooltip]="displayErrors('passwordConfirmation', passwordConfirmation)"
                            matTooltipClass="tooltip">error
                        </mat-icon>
                    </mat-form-field>
                    <mat-error *ngIf="form?.errors?.noConnection">No internet connection</mat-error>
                    <mat-error *ngIf="form?.errors?.unknownError">Failed to register</mat-error>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="onSubmit()">Register</button>
            </mat-card-actions>

        </mat-card>
    </ng-container>
</section>