<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <ng-container *ngIf="user?.token">
    <a mat-button routerLink="/signout">
      <mat-icon>exit_to_app</mat-icon>
      Log out
    </a>
  </ng-container>
  <ng-container *ngIf="!user?.token">
    <a mat-button routerLink="/register">
      <mat-icon>person_add</mat-icon>
      Register
    </a>
    <a mat-button routerLink="/login">
      <mat-icon>account_circle</mat-icon>
      Login
    </a>
  </ng-container>
</mat-toolbar>
<main>
  <router-outlet></router-outlet>
</main>