<mat-sidenav-container fullscreen>
  <mat-sidenav>

  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <a mat-button routerLink="/register">
      <mat-icon>person_add</mat-icon>
      Register
    </a>
    <a mat-button routerLink="/login">
      <mat-icon>account_circle</mat-icon>
      Login
    </a>
  </mat-toolbar>

  <main>
    <router-outlet></router-outlet>
  </main>


</mat-sidenav-container>